 * {
    
        margin: 0px;
        padding: 0%;
        box-sizing: border-box;
      }
      /*header css */
      html,
      body {
        width: 100%;
        height: 100%;
      }
      header {
      
        width: 100%;
        height: 25.8%;
        
        
      }
      .firstimage {
         margin-top: 0.78%;
         height: 100%;
        width: 8.55%;
        margin-left: 1.7%;
        margin-bottom: -0.2%;
      }
      .firstimage img {
        object-fit: contain;
        width: 100%;
        height: 100%;
    
      }
      /*   body css      */
      @font-face {
        font-family: "MyFont";
        src: url("proxima.ttf");
        
        font-style: normal;
      }
      .left {
        width: 40%;
        margin-left: 10%;
        margin-top: 18%;
      }
      .left p {
        margin: 2%;
      }
      main {
        display: flex;
        min-height: 100vh;
        background-color: #8e2c2c;
        border-left: 25px solid white;
        gap: 120px;
      }
      .right {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 100%;
      }
      form {
        margin-top: 7%;margin-bottom: 15%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 100%;
        width: 80%;
      }

      .input {
        width: 90%;
        height: 20px;
        padding: 20px 20px;
        background-color: #8e2c2c;
        outline: 1px solid white;
        color: white;
      }
      .input::placeholder {
        color: white;
        opacity: 1;
      }
      .inp {
        width: 100%;
        height: 15%;
        padding: 0px 10px 70px 10px;
        background-color: #8e2c2c;
        outline: 1px solid white;
      }
      .inp::placeholder {
        color: white;
        opacity: 1;
      }
      .text{ 
        align-items: baseline;
        gap:50px;
      }